In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, floor, rand

In [19]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
spark = SparkSession.builder.appName("ComplexETL").getOrCreate()
source_path = "C:/Users/HI/OneDrive/Desktop/orders.csv"
target_path = "C:/Users/HI/OneDrive/Desktop/Book2.csv"

In [5]:
df = spark.read.csv(source_path, header=True,schema = 'cust_id int, first_name string,last_name string,cust_order int,cust_status string')

In [6]:
#Transformation 1: Concatenate First and Last Names
df = df.withColumn("full_name", concat(col("first_name"), lit(" "), col("last_name")))

In [7]:
# Transformation 2: Calculate Net Salary (subtract 10% as taxes)
df = df.withColumn("net_salary", floor(lit(10000) + rand() * lit(50)) )

In [8]:
#adding age column
df = df.withColumn("age", floor(lit(20) + rand() * lit(31)))

In [9]:
# Transformation 3: Filter by Age (age >= 30)
df = df.filter(col("age") >= 30)

In [10]:
# Transformation 4: Group by Age and Calculate Average Salary
avg_salary_by_age = df.groupBy("age").agg({"net_salary": "avg"}).withColumnRenamed("avg(salary)", "avg_salary")

In [11]:
# Transformation 5: Sort by Age
df = df.orderBy("age")

In [25]:
df.toPandas().to_csv(target_path)